# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
/[Uu]ser[Ss]ettings/

# Visual Studio / VS Code
*.tmp
*.user
*.userprefs
*.pidb
*.svd
*.pdb
*.opendb
*.VC.db

# JetBrains Rider
.idea/
*.sln.iml

# OS Generated
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv

# Node.js
node_modules/
npm-debug.log
**/bin/
.vs
